name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:

  docs-build:
    name: Docs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install llvmpipe and lavapipe for offscreen canvas
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install --no-install-recommends -y libegl1-mesa libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers git-lfs pandoc
    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        # remove pygfx from requirements, we install a specific commit of pygfx since both fpl and pygfx are fast evolving
        sed -i "/pygfx/d" ./setup.py
        pip install git+https://github.com/pygfx/pygfx.git@cf1da6c32223ba3cf7256982ce9b89c81b593076
        pip install -e ".[notebook,docs,tests]"
    - name: Build docs
      run: |
        cd docs
        make html SPHINXOPTS="-W --keep-going"

  test-build:
    name: Test examples
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Test py39
            pyversion: '3.9'
          - name: Test py310
            pyversion: '3.10'
          - name: Test py311
            pyversion: '3.11'
    steps:
    - name: Install git-lfs
      run: |
        sudo apt install --no-install-recommends -y  git-lfs
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.pyversion }}
    - name: Install llvmpipe and lavapipe for offscreen canvas
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install --no-install-recommends -y libegl1-mesa libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers git-lfs
    - name: Install dev dependencies
      run: |
        python -m pip install --upgrade pip
        # remove pygfx from requirements, we install a specific commit of pygfx since both fpl and pygfx are fast evolving
        sed -i "/pygfx/d" ./setup.py
        pip install git+https://github.com/pygfx/pygfx.git@cf1da6c32223ba3cf7256982ce9b89c81b593076
        pip install -e ".["tests"]"
    - name: Show wgpu backend
      run:
        python -c "from examples.tests.testutils import wgpu_backend; print(wgpu_backend)"
    - name: fetch git lfs files
      run: |
        git lfs fetch --all
        git lfs pull
    - name: Test examples
      env:
        PYGFX_EXPECT_LAVAPIPE: true
      run: |
        pytest -v examples
        pytest --nbmake examples/notebooks/
    - uses: actions/upload-artifact@v3
      if: ${{ failure() }}
      with:
        name: screenshot-diffs
        path: examples/desktop/diffs
