name: Screenshots

on:
  pull_request:
    branches:
      - master

jobs:
  screenshots:
    name: Regenerate
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install llvmpipe and lavapipe for offscreen canvas
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install --no-install-recommends -y libegl1-mesa libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers git-lfs
      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          # remove pygfx from requirements, we install a specific commit of pygfx since both fpl and pygfx are fast evolving
          sed -i "/pygfx/d" ./setup.py
          pip install git+https://github.com/pygfx/pygfx.git@b63f22a1aa61993c32cd96895316cb8248a81e4d
          pip install -e ".["tests"]"
      - name: Show wgpu backend
        run:
          python -c "from examples.tests.testutils import wgpu_backend; print(wgpu_backend)"
      - name: Test examples
        env:
          PYGFX_EXPECT_LAVAPIPE: true
        run: |
          # regenerate screenshots
          REGENERATE_SCREENSHOTS=1 pytest -v examples
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: screenshots
          path: examples/screenshots/
