name: Screenshots

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  screenshots:
    name: Regenerate
    runs-on: 'ubuntu-latest'
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Install git-lfs
        run: |
          sudo apt install --no-install-recommends -y  git-lfs
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install llvmpipe and lavapipe for offscreen canvas
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install --no-install-recommends -y libegl1-mesa libgl1-mesa-dri libxcb-xfixes0-dev mesa-vulkan-drivers
      - name: Install dev dependencies
        run: |
          python -m pip install --upgrade pip
          # remove pygfx from install_requires, we install using pygfx@main
          sed -i "/pygfx/d" ./setup.py
          pip install git+https://github.com/pygfx/pygfx.git@main
          pip install -e ".["tests"]"
      - name: Show wgpu backend
        run:
          python -c "from examples.tests.testutils import wgpu_backend; print(wgpu_backend)"
      - name: Test examples
        env:
          PYGFX_EXPECT_LAVAPIPE: true
        run: |
          # regenerate screenshots
          REGENERATE_SCREENSHOTS=1 pytest -v examples
          REGENERATE_SCREENSHOTS=1 pytest --nbmake examples/notebooks/
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: screenshots
          path: |
            examples/desktop/screenshots/
            examples/notebooks/screenshots/
